<% content_for :right do %>
  <% if admin? %>
    <h6><%= 'Admin'[:admin_title] %></h6>
    <p><%= link_to('Create New Page', new_page_path, :class => "utility") %></p>
  <% end %>
<% end %>

<h1 style="margin-top:0;"><%= 'Content'[:pages_title] %></h1>
<p class="subtitle">
<%= number_with_delimiter(@pages_count) %> pages
</p>

<%= pagination @pages %>

<table border="0" cellspacing="0" cellpadding="0" class="wide forums">
  <tr>
    <th class="la" width="25%"><%= 'Title'[] %></th>
    <th><%= 'Content'[] %></th>
  </tr>
<% @pages.each do |page|-%>  
  <tr class="<%=cycle('odd','even')-%>">
    <td>
      <%= link_to h(page.title), page_permalink_path(page.permalink), :class => (page.active? ? "admin" : nil) %><br />
      <%= link_to('edit', edit_page_path(page)) %> 
      <%= link_to('delete', page_path(page), :confirm => "Are you sure?", :method => :delete) %>
    	| <%= link_to page.active? ? 'unpublish'[] : 'publish'[], publish_page_path(:id => page) %>
    </td>
    <td class="la"><%= page.body.first 200 %></td>
  </tr>
<% end %>
</table>

<%= next_page @pages %>
<%= pagination @pages %>
